.text-container h1 {
    margin: 0;
    font-size: 3rem;
    color: rgba(225, 225, 225, .01);
    background-image: url("https://img.rawpixel.com/private/static/images/website/2022-05/v904-nunny-004-a_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1314046620b4544b4358b12caaba9db6");
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-transform: uppercase;
    font-weight: bold;
}

@keyframes animate {

    0%,
    100% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }
}

.card {
    border: 6px solid white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 20px 16px;
}

.property-name {
    font-size: 2rem;
    margin: 12px 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-header {
    text-align: center;
}

.title {
    font-size: 3rem;
    margin: 0;
}

.description {
    font-size: 1.3rem;
}