body {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    padding: 16px;
}

@media screen and (max-width: 1024px) and (min-width: 426px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 10px;
    }
}